element {
}

table.hsg {

	margin: 20px 0;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}

.hsg {
	border: 1px solid rgb(124, 103, 177);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(124, 103, 177);
    border-right-color: rgb(124, 103, 177);
    border-bottom-color: rgb(124, 103, 177);
    border-left-color: rgb(124, 103, 177);
    -moz-border-top-colors: rgb(124, 103, 177);
    -moz-border-right-colors: rgb(124, 103, 177);
    -moz-border-bottom-colors: rgb(124, 103, 177);
    -moz-border-left-colors: rgb(124, 103, 177);
    border-image-source: rgb(124, 103, 177);
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
	color: #7C67B1;
	background-color: #2F2F2F;
	text-align: left;
	font-family: 'Lato';
}

.hsg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;

}

.et_pb_button {
    display: inline-block;
    margin: 1px;
    background: #7C67B1;
    color: white;
    font-size: 1.5em;
    font-family: ‘Georgia’, serif;
    font-style: ;
    border-radius: 50px;
    padding: 8px 16px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.et_pb_button:hover {
    background: #666;
    color: #7C67B1;
}

.color {
    background: #7C67B1;
    color: #fff;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(124,103,177,1);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgba(47,47,47,1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(47,47,47,1);
	color: rgba(124,103,177,1);
}